﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Technical Interview Questions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Technical Interview Questions", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Random Question", "Random", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    
                    <li class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("All Questions", "List", "Home")</li>

                            @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Manager")))
                            {
                                <li>@Html.ActionLink("Questions", "Index", "Questions")</li>
                                <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                                <li>@Html.ActionLink("Question Linker", "Index", "CategoryQuestionLinks")</li>
                                if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                    <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                }
                            }
                        </ul>
                    </li>




                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <footer id="footer" class="text-center">
        <p>&copy; @DateTime.Now.Year - Alysha & Jonathon</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
