﻿@{
    ViewBag.Title = "Index";
}

<h1 id="intro">Interview Question Generator</h1>
<div class="row">
    <p>Welcome to the interview question generator. We started this project so that we would have a place to practice our technical interview questions. This is a project that is still in progress and we plan on continuing building on it.</p>
    <p>We have both technical interview questions and are planning on adding general interview questions as well that are not about full stack web development. Feel free to reach out to us if you feel we can add anything to improve the experience and questions.</p>
    <div class="col-md-6">
        <p><a href="@Url.Action("Random","Home")" class="btn btn-success">Technical Questions</a></p>
    </div>
    <div class="col-md-6">
        <p><a class="btn btn-info">General Questions</a></p>
    </div>
</div>