﻿@model IEnumerable<TQ.Data.CategoryQuestionLink>

@{
    ViewBag.Title = "All Questions";
}


<div class="row">
    <div class="col-md-12 text-center">
        <div class="col-md-4"> <h2>All Questions and Answers</h2></div>
        <div class="col-md-4" style="margin-top: 1%;"> <a class="btn btn-info" href="@Url.Action("List","Home")">View all Questions</a></div>

        <div class="col-md-4" style="margin-top: 1%;"> <a class="btn btn-info" href="@Url.Action("Index","Home")">Random Question</a></div>
    </div>
</div>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.Question1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Question1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
    </tr>
}

</table>
