﻿@model IEnumerable<TQ.Data.Question>

@{
    ViewBag.Title = "Index";
}
<div class="container">

    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                @{int r = new Random().Next(Model.Count()); }
                <h1>@Html.DisplayFor(modelItem => Model.ElementAt(r).Question1) </h1>
                <a class="btn btn-success" id="reveal" onclick="show()">Show Answer</a>
                <div id="toggle" style="display:none;">
                    <h3>@Html.DisplayFor(modelItem => Model.ElementAt(r).Answer)</h3>
                    <a class="btn btn-info" href="@Url.Action("Random","Home")">New Question</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>


        //var answer = document.getElementById('reveal');

        function show() {
            var x = document.getElementById('toggle');
            console.log(x);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }

        }
        //answer.onclick = show();
    </script>
}
