﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-image: url('Images/yashar-azari-44X1sln5w5c-unsplash.jpg');*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}

div.row {
    text-align: center;

}

h1 {
    text-align: center;
    font-weight: bold;
    background-color: lightgray;
    padding: 5%;
    border-style: double;
}
p {
    margin: 2%;
    font-size: 1.5em;
}

p a {
    text-align: center;
    margin: 22%;
}

h1#intro {
    margin-top: 10%;
    margin-bottom: 5%;
}
hr {
    border-color: black;
}
h3 {
    margin: 10%;
}